[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jedi = "*"
pylint = "*"
pytest = "*"
doq = "*"

[packages]
systack = {editable = true, path = "."}

[requires]
python_version = "3.8"
